#root {
  text-align: center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.mainWindow{
  width: 100%;
  flex-grow: 1;
  /*background-color: #ffffff;*/
}

/*
MENU
*/
.MenuContainer{
  /*background-color: antiquewhite;*/
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.MenuContainer .LogoContainer{
  /*background-color: aqua;*/
  width: 204px;
  min-width: 204px;
  display: flex;
  align-items: center;
  padding-left: 50px;  
  padding-right: 50px;

}
.MenuContainer h1{
  
}
.MenuContainer .Logo{
  /*font-family: 'Poppins', 'sans-serif';*/
  font-weight: 600;
  cursor: pointer;
  font-size: 8px;
  color: #65B741;
}
.MenuContainer .ItemContainer{
  /*background-color: rgb(0, 255, 102);*/
  font-family: 'Poppins', 'sans-serif';
  font-weight: 600;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding-left: 15px;
  padding-right: 15px;
}

.ItemContainer .Item {
  height: 50%;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 130px;
}
.ItemContainer .Item:hover {
  cursor: pointer;
  background-color: rgb(112, 112, 112, 0.05);
  border-radius: 5px;
}
/*
ABOUT PAGE
*/
.AboutContainer{
  display: flex;
  justify-content: center;
  margin: 40px;
}
.mainText{
  width: 400px;
  font-family: Dosis;
  line-height: 25px;
  letter-spacing: 1px;
  padding-bottom: 50px;
  height: fit-content;
}

/*
HOW TO PAGE
*/
.HowToUseContainer{

  display: flex;
  justify-content: center;
  margin: 40px;
}
/*
VIS
*/
.VisContainer{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-direction: row;
  margin: 40px;
}
.SvgBarGraph{
  width: 65%;
  min-width: 400px;
  max-width: 900px;
  height: 600px;
  background-color: rgba(134, 134, 134, 0.01);
  padding: 0px;
  border-radius: 1px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgba(134, 134, 134, 0.351);
}
.SvgBarGraph Rect{
  fill: #6ec8d7e3;
  filter: drop-shadow(0px 0px 3px #00000008);
  transition: fill 0.05s; 
}
.SvgBarGraph Rect:hover{
  fill: #b5edfae3;
  filter: drop-shadow(0px 0px 3px #00000008);
  transition: 0.0s;
}
.SideBar{
  height: 600px;
  width: 30%;

  border-radius: 1px;
  outline-style: solid;
  outline-width: 1px;
  outline-color: rgba(134, 134, 134, 0.351);
}

/*
Footer
*/
.FooterContainer{
  display: flex;
  justify-content: flex-start;
  margin: 0px;
  padding-left: 25px;
}

@media only screen and (max-width: 600px) {
}

@media (prefers-reduced-motion: no-preference) {
}
