#root {
  text-align: center;
}
.mainWindow{
  width: 100%;
  height: 80vh;
  /*background-color: #ffffff;*/
}


/*
MENU
*/
.MenuContainer{
  /*background-color: antiquewhite;*/
  width: 100vw;
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.MenuContainer .LogoContainer{
  /*background-color: aqua;*/
  width: 204px;
  min-width: 204px;
  display: flex;
  align-items: center;
  padding-left: 50px;  
  padding-right: 50px;

}
.MenuContainer h1{
  
}
.MenuContainer .Logo{
  font-family: 'Poppins', 'sans-serif';

  cursor: pointer;
  font-size: 8px;
  color: #65B741;
}
.MenuContainer .ItemContainer{
  /*background-color: rgb(0, 255, 102);*/
  font-family: 'Poppins', 'sans-serif';
  font-weight: 600;
  min-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding-left: 5vw;
  padding-right: 5vw;
}

.ItemContainer .Item {
  height: 60%;
  display: flex;
  place-items: center;
  justify-content: center;
  width: 110px;
}
.ItemContainer .Item:hover {
  cursor: pointer;
}
/*
ABOUT TO PAGE
*/
.AboutContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px;
}
.mainText{
  width: 400px;
  font-family: Dosis;
  line-height: 25px;
  letter-spacing: 1px;
  padding-bottom: 50px;
  height: fit-content;
}

/*
HOW TO PAGE
*/
.HowToUseContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px;
}
/*
VIS
*/
.VisContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 40px;
}

@media only screen and (max-width: 600px) {
}

@media (prefers-reduced-motion: no-preference) {
}
